*{ margin: 0; padding: 0; font-family: 'Macondo', cursive;}
    nav{height: 3rem;
    background-color: #81ecec;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    width: 20%;
    color: #0984e3;
    padding-left: 1.5rem;

}
.menu{
    width: 80%;
    color: #0984e3;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
body {
    background-color: rgba(27, 31, 34, 0.85);
}
