*{ margin: 0; padding: 0; font-family: 'Macondo', cursive;}
    nav{height: 3rem;
    background-color: #81ecec;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    width: 20%;
    color: #0984e3;
    padding-left: 1.5rem;

}
.menu{
    width: 80%;
    color: #0984e3;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
body {
    background-color: rgba(27, 31, 34, 0.85);
}

h1{
    font-size: 3.1rem;
    line-height: 1.4;
    letter-spacing: 0.5rem;
    text-align: center;
    color: white;
    margin-top: 0.6rem;
}
.maindiv {
    width: 70%;
    position: absolute;
    height: 24rem;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    background-image: url(img/2.jpg4);
    background-size: 100% 100%;
    box-shadow: 0.08rem 0.015rem 0.06rem 0.3rem white;
    animation:slider 20s infinite linear;
}
@keyframes slider {
    0%{background-image: url(img/2.jpg);}
    16%{background-image: url(img/3.jpg);}
    32%{background-image: url(img/4.jpg);}
    48%{background-image: url(img/5.jpg);}
    65%{background-image: url(img/6.jpg);}
    87%{background-image: url(img/7.jpg);}
}
