*{ margin: 0; padding: 0; font-family: 'Akshar', sans-serif;}
    nav{height: 4rem;
    background-color: #81ecec;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media(max-width:768px) {
    html {
        font-size: 45%;
    }
}
.logo{
    width: 30%;
    font-size: 1 rem;
    text-align: center;
    color: #0984e3;
    padding-left: 1 rem;
}

.menu{
    width: 70%;
    color: #0984e3;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
body {
    background-color: rgba(218, 160, 109, 0.85);
}

h1 {
    font-size: 3.1rem;
    line-height: 1.4;
    letter-spacing: 0.5rem;
    text-align: center;
    color: black;
    margin-top: 0.6rem;
}
.maindiv {
    width: 70%;
    position: absolute;
    height: 24rem;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    background-image: url(2.jpg4);
    background-size: 100% 100%;
    box-shadow: 0.08rem 0.015rem 0.06rem 0.3rem black;
    animation:slider 100s infinite linear;
}
@keyframes slider {
    0%{background-image: url(library.jpeg);}
    7.5%{background-image: url(school\ project.jpeg);}
    15%{background-image: url(social\ work.jpeg);}
    22.5%{background-image: url(girl\ education\ classroom.jpeg);}
    30%{background-image: url(principal.jpg);}
    37.5%{background-image: url(playground.jpg);}
    45%{background-image: url(essaycompetition.jpeg);}
    52.5%{background-image: url(examination.jpeg);}
    60%{background-image: url(vaccination.jpeg);}
    67.5%{background-image: url(teacherpledge.jpeg);}
    75%{background-image: url(yoga.jpeg);}
    82.5%{background-image: url(lab.jpeg);}
    90%{background-image: url(physical\ education.jpeg);}
}
