*{ margin: 0; padding: 0; font-family: 'Akshar', sans-serif;}
    nav{height: 4rem;
    background-color: #81ecec;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media(max-width:768px) {
    html {
        font-size: 45%;
    }
}
.logo{
    width: 30%;
    font-size: 1 rem;
    text-align: center;
    color: #0984e3;
    padding-left: 1 rem;
}

.menu{
    width: 70%;
    color: #0984e3;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
body {
    background-color: rgba(270, 280, 260, 0.85);
}

.APJ {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.content-table {
    border-collapse: collapse;
    margin: 1.0rem;
    font-size: 0.8em;
    min-width: 80rem;
    border-radius: 0.3rem 0.3rem 0 0;
    box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
}
.content-table thead tr {
    background-color: rgb(67, 133, 133);
    color: azure;
    text-align: center;
    font-weight: bold;
}
.content-table th,
.content-table td {
    padding: 0.4rem 1rem;
    font-weight: bold;
}
.content-table tbody tr {
border-bottom: 00.015rem solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
.content-table tbody tr:last-of-type{
    border-bottom: 0.04rem solid #009879;
}
